{% extends 'base.html' %}

{% block title %}All communities{% endblock %}

{% block content %}
<div class="catalog">
  <div class="categories col-sm-offset-2 col-sm-6">
    <h3 class="list-header">Communities</h3>
    <ul class="list">
      {% for category_l in categories %}
        <li class="list-item">
          <a href="{{ url_for('catalogApp.category_page', id=category_l.id) }}">
            {{ category_l.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
