{% extends 'base.html' %}

{% block title %} Add a pick{% endblock %}

{% block content %}
<form class="form crud" action="" method="post" id="itemForm">
  <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
  <div class="form-header col-xs-12">
      <h2>Add a pick</h2>
  </div>

  {% if error %}
    <div class="col-xs-12 text-error" id="status">{{error}}</div>
  {% endif %}

  <div class="form-group col-xs-12 {% if errors.title %} error {% endif %}">
    <label for="title">Descriptive Title</label>
    <input id="title" type="text" name="title" value="">
    {% if errors.title %}
      {% for error in errors.title %}
        <div class="error-message">{{ error }}</div>
      {% endfor %}
    {% endif %}
  </div>

  <div class="form-group col-xs-12 {% if errors.link %} error {% endif %}">
    <label for="link">Link</label>
    <input id="link" type="url" name="link" value="">
    {% if errors.link %}
      {% for error in errors.link %}
        <div class="error-message">{{ error }}</div>
      {% endfor %}
    {% endif %}
  </div>

  <div class="form-group col-xs-12 {% if errors.category %} error {% endif %}">
    <label for="category">Category</label>
    <select class="select" name="category" id="category">
      {% for category in categories %}
      <option value="{{ category.id }}">{{ category.title }}</option>
      {% endfor %}
    </select>
    {% if errors.category %}
      {% for error in errors.category %}
        <div class="error-message">{{ error }}</div>
      {% endfor %}
    {% endif %}
  </div>

  <input type="submit" value="share" class="submit">
</form>
{% endblock %}
