{% extends 'base.html' %}

{% block title %} Login{% endblock %}

{% block content %}
<form class="form auth" action="" method="post">
  <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
  <div class="form-header col-xs-12">
      <h2>Login</h2>
      <div class="social inline">
        <fb:login-button scope="public_profile,email" onlogin="sendToken();">
        </fb:login-button>
      </div>
  </div>

  <div class="col-xs-12 text-error" id="status"></div>

  <div class="form-group col-xs-12 {% if error %} error {% endif %}">
    <label for="username">Username or Email</label>
    <input id="username" type="text" name="username" value="">
    {% if error %}
        <div class="error-message">{{ error }}</div>
    {% endif %}
  </div>

  <div class="form-group col-xs-12">
    <label for="password">Password</label>
    <input id="password" type="password" name="password" value="">
  </div>

  <div class="col-xs-12">
    <p>No a member yet? <a href="{{ url_for('authApp.signup') }}">signup</a></p>
  </div>

  <input type="submit" value="login" class="submit">
</form>
{% endblock %}


{% block footer_scripts %}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1380611928713155',
      cookie     : true,  // enable cookies to allow the server to access
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.8' // use graph api version 2.8
    });
  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  function sendToken() {
    var access_token = FB.getAuthResponse()['accessToken'];
    console.log('Welcome!  Fetching your access token.... ');
    console.log(access_token);
    var response;
    FB.api('/me', function(response) {
      csrf_token = $('input[name=_csrf_token]')[0].value;
      $.post('/fblogin', {
          'access_token': access_token,
          '_csrf_token': csrf_token
      }, function(response){
        window.location.replace("/");
      }).fail(function(response){
        data = JSON.parse(response.responseText);
        $("#status").text(data.message);
      });
    });
  }
</script>
{% endblock %}
