{% extends 'base.html' %}

{% block title %} Login{% endblock %}

{% block content %}
<form class="form" action="" method="post">
  <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
  <div class="form-header col-xs-12">
      <h2>Login</h2>
      <div class="social inline">
        <a href="#" class="fb">
          <i class="icon-facebook"></i>
        </a>

        <a href="#" class="gp">
          <i class="icon-gplus"></i>
        </a>
      </div>
  </div>

  <div class="form-group col-xs-12 {% if error %} error {% endif %}">
    <label for="username">Username or Email</label>
    <input id="username" type="text" name="username" value="">
    {% if error %}
        <div class="error-message">{{ error }}</div>
    {% endif %}
  </div>

  <div class="form-group col-xs-12">
    <label for="password">Password</label>
    <input id="password" type="password" name="password" value="">
  </div>

  <div class="col-xs-12">
    <p>No a member yet? <a href="{{ url_for('authApp.signup') }}">signup</a></p>
  </div>

  <input type="submit" value="login" class="submit">
</form>
{% endblock %}
