{% extends 'base.html' %}

{% block title %} Edit a pick{% endblock %}

{% block content %}
<section class="form crud">
  <header class="form-header col-xs-12">
      <h2>Edit a pick</h2>
  </header>
  <form class="row" id="pickForm" action="" method="post">
    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
    {% if error %}
      <div class="col-xs-12 text-error" id="status">{{error}}</div>
    {% endif %}

    <fieldset class="form-group col-xs-12 {% if errors.title %} error {% endif %}">
      <label for="title">Descriptive Title</label>
      <input id="title" type="text" name="title" value="{{ pick.title }}">
      {% if errors.title %}
        {% for error in errors.title %}
          <div class="error-message">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </fieldset>

    <fieldset class="form-group col-xs-12 {% if errors.link %} error {% endif %}">
      <label for="link">Link</label>
      <input id="link" type="url" name="link" value="{{pick.link}}">
      {% if errors.link %}
        {% for error in errors.link %}
          <div class="error-message">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </fieldset>

    <fieldset class="form-group col-xs-12 {% if errors.community %} error {% endif %}">
      <label for="community">Category</label>
      <select class="select" name="community" id="community">
        {% for community in communities %}
          {% if pick.community == community.id %}
            <option value="{{ community.id }}" selected>{{ community.title }}</option>
          {% else %}
            <option value="{{ community.id }}">{{ community.title }}</option>
          {% endif %}
        {% endfor %}
      </select>
      {% if errors.community %}
        {% for error in errors.community %}
          <div class="error-message">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </fieldset>

    <input type="submit" value="share" class="submit">
  </form>
</section>
{% endblock %}
