{% extends 'base.html' %}

{% block title %}Join us!{% endblock %}

{% block content %}
<section class="form auth">
  <header class="form-header col-xs-12">
      <h2>Join the pickies</h2>
      <div class="social inline">
        <fb:login-button scope="public_profile,email" onlogin="sendToken();">
        </fb:login-button>
      </div>
      <div class="separator col-xs-12">
        <hr class="pull-left">
        <p class="col-xs-12"> or signup manually </p>
      </div>
  </header>
  <form class="row" action="" method="POST">
    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
    <div class="col-xs-12 text-error" id="status"></div>

    <fieldset class="form-group col-xs-12 {% if errors.username %}error{% endif %}">
      <label for="username">Username</label>
      <input id="username" type="text" name="username" value="">
      {% if errors.username %}
        {% for error in errors.username %}
          <div class="error-message">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </fieldset>

    <fieldset class="form-group col-xs-12 {% if errors.password %}error{% endif %}">
      <label for="password">Password</label>
      <input id="password" type="password" name="password" value="">
      {% if errors.password %}
        {% for error in errors.password %}
          <div class="error-message">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </fieldset>

    <fieldset class="form-group col-xs-12 {% if errors.email %}error{% endif %}">
      <label for="email">Email</label>
      <input id="email" type="email" name="email" value="">
      {% if errors.email %}
        {% for error in errors.email %}
          <div class="error-message">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </fieldset>

    <fieldset class="form-group col-xs-12">
      <label for="emailConfirm">Confirm email</label>
      <input id="emailConfirm" type="email" name="emailConfirm" value="">
    </fieldset>

    <input type="submit" value="signup" class="submit">
  </form>
</section>

{% endblock %}

{% block footer_scripts %}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1380611928713155',
      cookie     : true,  // enable cookies to allow the server to access
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.8' // use graph api version 2.8
    });
  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  function sendToken() {
    var access_token = FB.getAuthResponse()['accessToken'];
    console.log('Welcome!  Fetching your access token.... ');
    console.log(access_token);
    var response;
    FB.api('/me', function(response) {
      csrf_token = $('input[name=_csrf_token]')[0].value;
      $.post('/fbsignup', {
          'access_token': access_token,
          '_csrf_token': csrf_token
      }).fail(function(response){
        data = JSON.parse(response.responseText);
        $("#status").text(data.message);
      });
    });
  }
</script>
{% endblock %}
